<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <button style="float: right; margin: 20px" class="btn btn-outline-danger btn-round"> ban user</button>
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Jane Faker, 25<br /></h4>
                    <h6 class="description">Kz, Aktau</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Моя жизнь - секс, наркотики и рок-н-ролл, только без секса, наркотиков и рок-н-ролла. </p>
                    <br />
                    <button class="btn btn-outline-success btn-round"><i class="fa fa-heart "></i> Send Match</button>
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Details">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto" style="margin-top: -25px">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                                                        <h6>Location<br/><small>Kz, Aktau</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                                                        <h6>Date Of Birth<br/><small>23/12/1997</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                                                        <h6>Gender<br/><small>Gay</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Interest">
                            <ng-template ngbTabContent>
                                <div class="col-md-6 ml-auto mr-auto" style="margin-top: -25px">
                                    <ul class="list-unstyled follows">
                                        <li>
                                            <div class="row">
                                                <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                                                    <h6>Music</h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                                                    <h6>Travel</h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                                                    <h6>Ass</h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                                                    <h6>Anime</h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                                                    <h6>Porn</h6>
                                                </div>
                                            </div>
                                        </li>
                                        <hr/>
                                    </ul>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
