<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Dating tool for every single person</h1>
            <h3>MAHABBAT.KZ is the dating app that matches you on what matters to you. You deserve to find who you’re looking for. Meet them today!</h3>
            <br />
            <button type="button" (click)="signup()" class="btn btn-outline-neutral btn-round">Join us</button>
        </div>
    </div>
</div>
