<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">{{user.firstName}} {{user.lastName}}<br /></h4>
                    <h6 class="description">Kz, {{user.location}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>{{user.info}}</p>
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Details">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto" style="margin-top: -25px">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                                                        <h6>Location<br/><small>Kz, {{user.location}}</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                                                        <h6>Date Of Birth<br/><small>23/12/1997</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                                                        <h6>Gender<br/><small>{{user.gender}}</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Interest">
                            <ng-template ngbTabContent>
                                <div class="col-md-6 ml-auto mr-auto" style="margin-top: -25px">
                                    <ul class="list-unstyled follows">
                                        <li *ngFor="let item of user.userInterests; let index = index" >
                                            <div class="row">
                                                <div class="col-md-7 col-sm-4 ml-auto mr-auto">
                                                    <h6>{{item.name}}</h6>
                                                </div>
                                            </div>
                                        </li>
                                        <hr/>
                                    </ul>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="My Matches">
                            <ng-template ngbTabContent>
                                <div *ngIf="myMatches.length==0">
                                    <h3 class="text-muted">No lovers :(</h3>
                                    <br>
                                    <button (click)="home()"  class="btn btn-sm btn-warning btn-round">Find Lover</button>
                                </div>
                                <div *ngIf="myMatches.length > 0">
                                    <div class="row following" id="follows">
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <ul class="list-unstyled follows">
                                                <li  *ngFor="let i of myMatches; let index = index">
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                            <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                        <div class="col-md-7 col-sm-4 ml-auto">
                                                            <h6>{{i.firstName}} {{i.lastName}}<br/><small>{{i.location}}</small></h6>
                                                        </div>
                                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                            <div class="form-check">
                                                                <button (click)="viewProfile(i.userId)" class="btn btn-outline-info btn-round btn-sm" style="margin-top: 10px">Profile</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Match Requests">
                            <ng-template ngbTabContent>
                                <div *ngIf="myMatchRequests.length == 0">
                                    <h3 class="text-muted">No match requests :(</h3>
                                    <br>
                                    <button (click)="home()" class="btn btn-sm btn-warning btn-round">Find Lover</button>
                                </div>
                                <div *ngIf="myMatchRequests.length > 0">
                                    <div class="row following" id="follows">
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <ul class="list-unstyled follows">
                                                <li  *ngFor="let i of myMatchRequests; let index = index">
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                            <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                        <div class="col-md-7 col-sm-4 ml-auto">
                                                            <h6>{{i.firstName}} {{i.lastName}}<br/><small>{{i.location}}</small></h6>
                                                        </div>
                                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                            <div class="form-check">
                                                                <button (click)="accept(i.userId)" class="btn btn-outline-success btn-round btn-sm">Accept</button>
                                                                <button (click)="viewProfile(i.userId)" class="btn btn-outline-info btn-round btn-sm" style="margin-top: 10px">Profile</button>
                                                                <button (click)="deny(i.userId)" class="btn btn-outline-danger btn-round btn-sm" style="margin-top: 10px">Deny</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
